<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aviarytutorial"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Editor Activity -->
        <activity
            android:name="com.aviary.android.feather.FeatherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:largeHeap="true"
            android:process=":aviarysdk"
            android:screenOrientation="unspecified"
            android:theme="@style/AviaryTheme" />

        <!-- Alert -->
        <activity
            android:name="com.aviary.android.feather.AlertActivity"
            android:launchMode="standard"
            android:noHistory="true"
            android:theme="@style/AviaryTheme.Dialog" >
            <intent-filter>
                <action android:name="aviary.intent.action.ALERT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- CDS Content Service -->
        <service
            android:name="com.aviary.android.feather.cds.AviaryCdsService"
            android:exported="false"
            android:process=":aviarycds" >
            <intent-filter>
                <action android:name="aviary.intent.action.CDS_DOWNLOAD_START" />
                <action android:name="aviary.intent.action.CDS_RESTORE_USER_ITEMS" />
            </intent-filter>
        </service>

        <!--
        Cds Content Provider, 
        NOTE that the "authorities" value MUST be formatted in this way:
        android:authorities="{your.packagename}.AviaryCdsProvider"
        -->
        <provider
            android:name="com.aviary.android.feather.cds.AviaryCdsProvider"
            android:authorities="com.example.aviarytutorial.AviaryCdsProvider"
            android:exported="false"
            android:process=":aviarycds"
            android:syncable="true" />

        <!-- CDS Download Receiver -->
        <receiver
            android:name="com.aviary.android.feather.cds.AviaryCdsReceiver"
            android:process=":aviarycds" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.aviary.android.feather.v1.API_KEY"
            android:value="@string/aviary_key" />
    </application>

</manifest>